.loader-container {
  z-index: 1000;
  width: 100vw;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  align-items: center;

  .elt-loader {
    display: none;
    line-height: 240px;
    white-space: nowrap;
    font-size: 240px;
    text-transform: uppercase;
    font-family: $black;
    color: $blue;
    animation: defile 2s forwards linear;

    @media screen and (max-width: 1295px) {
      font-size: 200px;
      line-height: 200px;
    }

    @media screen and (max-width: 1000px) {
      font-size: 180px;
      line-height: 180px;
    }

    @media screen and (max-width: 940px) {
      font-size: 150px;
      line-height: 150px;
    }

    @media screen and (max-width: 790px) {
      font-size: 120px;
      line-height: 120px;
    }

    @media screen and (max-width: 650px) {
      font-size: 100px;
      line-height: 100px;
      animation: none;
    }

    @media screen and (max-width: 550px) {
      font-size: 80px;
      line-height: 80px;
    }

    @media screen and (max-width: 450px) {
      font-size: 70px;
      line-height: 70px;
    }

    @keyframes defile {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-60%);
      }
    }
  }
}
